
img{
height:auto ;
width: 150px;
margin: auto;
display: block;
border-radius: 50%;
}


  @import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&family=Raleway:ital,wght@0,400;0,700;1,300&display=swap');

*{
    margin: 0;
padding: 0;
font-family: 'roboto'; sans-serif;
font-weight: bold;
text-transform: uppercase;

}

.btn-primary {
    position: relative;
    color: aliceblue;
}
